@model IEnumerable<UniversalLibrary.Data.Entities.BookPublisher>

@{
    ViewData["Title"] = "BookPublisher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--CSS-->
<link href="~/asset/css/bootstrap.css" rel="stylesheet" />
<link href="~/asset/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/asset/css/responsive.css" rel="stylesheet" />
<link href="~/asset/css/style.css" rel="stylesheet" />
<a href="~/asset/css/style.css.map"></a>


<!--FONTES-->
<a href="~/asset/fonts/fontawesome-webfont.ttf"></a>
<a href="~/asset/fonts/fontawesome-webfont.woff"></a>
<a href="~/asset/fonts/fontawesome-webfont.woff2"></a>
<a href="~/asset/fonts/octin_sports_rg.ttf"></a>

<!--JS-->
<script src="~/asset/js/bootstrap.js"></script>
<script src="~/asset/js/custom.js"></script>
<script src="~/asset/js/jquery-3.4.1.min.js"></script>


<br />
<h1>Book Publishers</h1>
<br />
<br />
<br />

<style type="text/css">
    .tableFixedHead {
        overflow-y: auto;
        height: 200px;
    }
    .tableFixedHead thead th {
        position: sticky;
        top: 0px;
    }

    .table {
        margin-left:auto;
        margin-right:auto;      
        width: 70%;
    }
    .table th, .table td {
        text-align:center;
    }    
    .th{
        text-align:center;
    }
    .td {        
        text-align: center;
        
    }
    thead th{
        background-color:darkolivegreen;
        color: white;
    }
    tr:hover {
        background-color:bisque;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.ImagLog)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagLog))
                    {
                        <img src="@Url.Content(item.ImagLog)" alt="Image" style="display:block; margin: 1vw; width: 5vw; height: 5vw;">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
